.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'National Park', sans-serif; */
}

body {
  background-image: url("./assets/images/mountains/crop.jpg"); 
  background-size:100%;
  /* background-position: center; */
  background-size: auto;
}

h2, h3, h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'National Park', sans-serif; */
}
.titlePage {
  color: black;
  font-size: xx-large;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'National Park', sans-serif;
  justify-content: center;
}
h1{
    font-family: 'National Park', sans-serif;
}
button {
  color: black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.mountain-table {
  display: flex;
  /* table-layout: auto; */
  justify-content: center;
}

table {
  margin: 20px;
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as needed */
  border-collapse: collapse;
  white-space: nowrap;
  background-color: rgba(107,142,35,.7);
}
.overflow-wrap {
  white-space: normal;
}
th,
td {
  padding: 8px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;
}

th {
  font-weight: bold;
}

.mountainImage {
    justify-content: center;
    align-content: center;
}
tr {
  font-size: 1.5vh;
}
label {
  font-size: 26px;
  font-weight: bold;
}
select {
  font-size: 24px;
}

.NationalParksSearch{
  display:inline;
  text-align: center;
  font-variant: normal;
  color: #212427;
  padding-left: 1;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: .25rem;
  background-color: rgba(255,255,255,.5);
}

.MountainInfoPage{
  display: inline;
  font-variant: normal;
  color:#212427;
  padding-left: 1;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: .25rem;
  margin: 0;
  background-color: rgba(255,255,255,.5);
}

#selectamountain {
  font-variant: normal;
  color:#212427;
  background-color: #818385a2;  
}

.ParkSearchLocation, .ParkSearchType {
  font-variant: normal;
  color:#212427;
  background-color: #818385a2;
}

.ParkSearchButton, .MountainSearchButton {
  margin: .5rem;
  border-radius: .25rem;
  padding: .25rem 0.5rem;
  font-size: 1.0rem;
}

#mountain, #location, #parkType {
  margin-left: 1rem;
  border-radius: .25rem;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}
