.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url("./assets/images/mountains/crop.jpg");
  background-size: 100%;
  background-size: auto;
  background-attachment: fixed;
}

h2,
h3,
h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.titlePage {
  color: #212427;
  font-size: xx-large;
  font-family: "National Park", sans-serif;
}

h1 {
  font-family: "National Park", sans-serif;
  font-variant: small-caps;
}

button {
  color: #212427;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}



table {
  margin: 20px;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  white-space: nowrap;
  background-color: rgba(107, 142, 35, 0.7);
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;
}

th {
  font-weight: bold;
}



tr {
  font-size: 1.5vh;
}

label {
  font-size: 26px;
  font-weight: bold;
}

select {
  font-size: 24px;
}


.overflow-wrap {
  white-space: normal;
}



/* .ParkSearchButton,
.MountainSearchButton {
  margin: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
} */

/* #mountain,
#location,
#parkType {
  margin-left: 1rem;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
} */
