.mountain-table {
    display: flex;
    justify-content: center;
  }

.mountainImage {
    justify-content: center;
    align-content: center;
  }

.MountainInfoPage {
    display: inline;
    font-variant: normal;
    color: #212427;
    padding-left: 1;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0.25rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
#selectamountain {
    font-variant: normal;
    color: #212427;
    background-color: #818385a2;
  }

#mountain,
#location {
  margin-left: 1rem;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}

.MountainSearchButton {
    margin: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }